// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  font-size: 20px;
}

.details {
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.1)
}

.fop {
  opacity: 0.5;
}


